{% extends 'base.html' %}

{% block nav %}{% endblock %}

{% block subcontent1 %}

{% if form.errors %}
  {{ form.errors }}
{% endif %}

{{ msg }}

<form method="post" 
action="{% url 'cashjournal:run_edit_exit' launch_id=launch_id %}">
  {% csrf_token %}
  <table class="table" style="width: 50%; margin: auto;">
    <tr>
      <td>
        <label for="{{ form.description.auto_id }}">
          {{ form.description.label }}
        </label>
      </td>
      <td>{{ form.description }}</td>
      <td>{{ form.description.errors }}</td>
      
    </tr>
    <tr>
      <td>
        <label for="{{ form.value.auto_id }}">
          {{ form.value.label }}
        </label>
      </td>
      <td>{{ form.value }}</td>
      <td>{{ form.value.errors }}</td>
      
    </tr>
    <tr>
      <td>
        <label for="{{ form.ex_type.auto_id }}">
          {{ form.ex_type.label }}
        </label>
      </td>
      <td>{{ form.ex_type }}</td>
    </tr>
    <tr>
      <td><input type="submit" value="Editar"></td>
      <td><input type="button" 
        onclick='window.self.location.href = 
        "{% url 'cashjournal:delete_exit'  launch_id=launch_id %}";'
       value="Excluir"></td>
    </tr>
  </table>
</form>
{% endblock %}

{% block footer %}{% endblock %}